#projects{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}


/*BUTTONS*/

/* W3Schools code was implemented in some areas of this code.
A special thanks to W3Schools and their tools */

/* ------------project-button is used for the [PROJECT] section ---------------*/

.project-button {
    display: inline-block;
    padding: 6px 14px;
    width: 130px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    color: #2a2a2a;
    background-color:rgb(255, 255, 255);
    border:none;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin: 0.2rem auto;
  }
  
.project-button:hover {
    background-color: #225dff;
    color: #fff;
    transform: translateY(4px);
    transform: scale(105%);
}

.project-button:focus{
    background-color:#ffa631;
    transform: scale(100%);
    transition: transform 0.2s ease-in-out;
}

#button-link{
    display: flex;
    text-align: center;
}


/*-----------All other sections in projects----------------------*/

#recent, 
#studentWork, 
#filmmaking, 
#photography, 
#design,
#animation {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
    align-content: center;
}


.showreel{
    margin: 0 auto;
    width: 90%;
}

.showreel-video1{
    width: 60%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #1b1b1b;
}

.section-heading{
    margin-bottom: 1rem ;
}

.prototype-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    height: auto;
    width: 90%;
}

.prototypes{
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: none;
}


.tags2{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: center;
}

.frame-description{
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame-description p{
    justify-content: flex-start;
    margin: 0 auto;
    width: 80%;
    color: #2a2a2a;
}

.frame-description h4, h5{
    margin: 0.5rem;
    color: #2a2a2a;
}

.dropdown-content {
    display: none;
    /* Add any additional styling as needed */
}

.dropdown-button {
    background: none;
    border: none;
    cursor: pointer;
    /* Style as needed */
}




@media screen and (max-width: 1000px){
    .showreel-video1{
        width: 80%;
    }

    .prototype-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .frame-description{
        margin:0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px){
    .showreel-video1{
        width: 100%;
        height: 15rem;
    }

    .prototypes{
        width: 90%;
    }

    .tags2{
        transform: scale(0.9);
    }

}