#projects{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#button-link{
    display: flex;
    flex-direction: row;
}

#recent, 
#studentWork, 
#filmmaking, 
#photography, 
#animation {
    width: 60%;
    margin: 2rem;
}

#recent iframe, 
#studentWork iframe, 
#filmmaking iframe, 
#photography iframe, 
#animation iframe {
    width: 60%;

}


@media screen and (max-width: 1000px){
    #button-link{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    #button-link{
        width: 100%;
    }
}