
/*=================About Page===================*/

#about-wrapper{
    margin: 2rem;
}

#about{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 34rem;
    margin:0 auto;
    background-color: #131313;
    border-radius: 10px;
    background-image: url("../Images/Self-Portrait.avif");
    background-size: auto;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fade-in 2s ease-in-out forwards;
    overflow: hidden;
}



#about-span{
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

.slider-wrapper {
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out; /* Transition for smooth sliding */
}

.slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    min-width: 100%; /* Make each slide take full width */
    box-sizing: border-box; /* Optional, to include padding and borders in width */
    transition: margin-left 0.5s ease-in-out; /* Smooth transition for sliding effect */
}

.slider-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin:0 auto;
    height: 28rem;
    align-content: center;
    z-index: 1;
    width: 50%;
    animation: fade-in 0.5s ease-in;
    transition: transform 0.5s ease-in;
}

.slider-media {
    flex: 1; /* Adjust this value to control the width ratio between text and media */
    padding: 1rem;
}


.slider-description {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin: 0 auto;
    width: 100%;
    height: 26rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    background-color: #ffffffe6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}


.slider-description:hover {
    transform: scale(1.03);
    background-color: #ffffff;
}


.slider-media{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    max-width: 50%;
    height: 24rem;
    object-fit: cover;
    border-radius: 10px;
    animation: fade-in 1s ease-in-out forwards;
    border-radius: 5px;
    box-shadow: 10 10 10 black;
    background-color: rgba(247, 247, 247,0.8);
    animation: fade-in 2s ease-in-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*---------------Buttons----------------*/
.prev{
    align-items: center;
    top: 50%;
    left: 0;

}

.next{
    align-items: center;
    float: right;
    top: 50%;
    right: 0; 
}

  
button.prev, button.next {
    position: fixed;
    display: inline-block;
    background-color: #ffa631;
    border:rgba(0, 0, 0, 0.2);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;

    font-size: 30px;
    margin: 4px 2px;

    cursor: pointer;
    border-radius: 5px;
  }
  
  /*----------button animation----------*/
  
  button.prev:hover, button.next:hover {
    background-color: #225dff;
    color: #ffffff;
    transform: scale(110%);
    transition: transform 0.2s ease-in;
  }

  button.prev:active, button.next:active {
    background-color: #ffa631;
    transform: scale(100%);
    transition: transform 0.2s ease-out;
  }
  
/*=============Media Queries=================*/


/*------------------max-width 1000--------------------*/

@media screen and (max-width: 1000px){


    .slide{
        display: flex;
        flex-direction: column;
    }
    
    .slider-media{
        display: flex;
        flex-direction: column;
    }

}


/*---------------------max-width 1000px-----------------------*/

@media screen and (max-width: 1000px){
    #about{
        display: flex;
        flex-direction: column;
        height: 34rem;
    }

    .slider-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 32rem;
    }

    .slider-media{
        max-width: 100%;
        height: 13rem;
    }

    button.prev, button.next {
        position: fixed;
        display: inline-block;
        background-color: #ffa631;
        border:rgba(0, 0, 0, 0.2);
        color: rgb(0, 0, 0);
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
    
        font-size: 16px;
        margin: 4px 2px;
    
        cursor: pointer;
        border-radius: 5px;
      }
}

/*---------------------max-width 600px-----------------------*/
@media screen and (max-width: 600px){
    #about-wrapper{
        margin: 1rem;
    }

    #about{
        width: 100%;
    }
    
    .slider-media{
        display: flex;
        max-width: 90%;
        margin: 0 auto;
    }
    
    .slider-description{
        margin: 0 auto;
        width: 100%;
    }
}
