/*  
    Some parts of this stylesheet have been made with the assistance of
    Chat-GPT, W3Schools, and other sources which will be provided in the 
    respective area                           
*/

body {
    padding: 0;
    margin: 0;
    width: 100vw;
}

main {
    width: 100vw;
}

/* Generic styles for anchor tags */
a {
    text-decoration: none;
}

/* Navigation styles */
nav {
    margin: 0;
    position: fixed;
    z-index: 2;
}

/* The hamburger menu code is adapted from:
   https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/ */
#hamnav {
    width: 100%;
    background: #000000;
}

#hamitems {
    display: flex;
}

#hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 10px;
    padding: 15px;
    color: #ffa631;
    text-align: center;
}

#hamitems a:hover { 
    background: #225dff;
    color: #E5E5E5;
}

#hamnav label, #hamburger { 
    display: none; 
}

/* Home section styles */
#label-box {
    margin: 0 auto;
    position: absolute;
    top: 19rem;
    left: 50%;
    transform: translateX(-50%); /* Centering the element */
}

#label, #story {
    padding: 5px 20px;
    text-align: center;
    color: #E5E5E5;
    background-color: #225dff;
    box-shadow: 5px 5px 15px black;
    border-radius: 10px;
}

#heading {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25rem;
}

#video1 {
    margin: 0 auto;
    height: 56rem;
    width: 100vw;
    object-fit: cover;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Container heading and subheading styles */
.container-title, .container-subheading {
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-title {
    background-color: #225dff;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
}

.container-subheading {
    color: #5c5c5c;
    background-color: #ffffff;
    border-radius: 0px 5px 5px 0px;
}

/* Project styles */
.project-link, #projects {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

#projects {
    width: 90vw;
    height: 170vh;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#projects.fade-in {
    opacity: 1;
}

#project-heading {
    text-align: center;
    padding-top: 30px;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    /* Styles for smaller screens */
    #hamnav {
        width: 100%;
    }

    #hamitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
    }

    #hamnav label { 
        display: inline-block; 
        color: white;
        background: #ffa631;
        font-size: 1.2em;
        padding: 10px;
    }

    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { 
        display: block; 
        animation: fade-in 1s ease-in-out forwards;
    }
}

@media screen and (max-width: 600px) {
    /* Responsive adjustments for very small screens */
    #video1, #home {
        height: 40rem;
    }

    #label-box {
        top: 6rem;
    }

    #heading { 
        top: 12rem;
    }

    #story {
        top: 19rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
