/*=================This is the TEXT Stylesheet=================*/

/* Imported from https://fonts.google.com/specimen/Signika+Negative#styles */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&family=Ubuntu:wght@700&display=swap');


h1{
    font-family: 'Rubik Mono One', monospace;
    color: #E5E5E5;
    font-size: clamp(4rem, 1rem + 10vw, 8rem);
    /*text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);*/
    line-height: 100%;
}

#showreel-heading{
    font-size: clamp(3rem, 1rem + 10vw, 8rem);
    color: #2A2A2A;
    margin: 0 auto;
    letter-spacing: -6px;
}

h2{
    font-family: 'Rubik Mono One', monospace;
    font-size: 55px;
    text-align: center;
    opacity: 0;
}


h3 {
    font-size: clamp(24px, 5vw, 40px);
    font-family: 'Rubik Mono One', monospace;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -1px;
    text-decoration: none;
}

h4 {
    font-size: clamp(18px, 3.5vw, 24px);
    font-family: 'Rubik Mono One', monospace;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.3;
}

h5 {
    font-size: clamp(16px, 3vw, 20px);
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 1.35;
}


p, li{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
}

.link{
    display: inline-block;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
    text-decoration:none;
    color:#ffa631;
}

text{
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}


